.nav{
    background-color:rgb(221, 15, 15);
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.span{
    font-weight: bolder;
    font-size : 100px;
    font-style:italic;
    color:red
}
input{
    width: 50%;
    height: 20px;
}

.resultat{
    height: 100px;
    width: 100px;
    font-size: 100px;
}